*.iml
*vcs.xml
*worksplace.xml
*modules.xml
*misc.xml
.xml
.idea/*
/node_modules/
.env
/src/parse/screenshots/*

./*.*/node_modules/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace