*.iml
*vcs.xml
*worksplace.xml
*modules.xml
*misc.xml
.xml
*.tmp.
tmp.*
.idea/*
/node_modules/
.env
/src/parse/screenshots/*
/reporting
/reports

./*.*/node_modules/

package-lock.json
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace